<h4><span class="muted"> <%= @user.name %> at <%= @question.created_at.strftime("%l:%M %p, %a %d %b %Y") %></span></h4>
<h3><%= @question.title %></h3>

<p>
  <strong>Question:</strong>
  <%= @question.body %>
</p>

<% if @question.answers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Answer</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @question.answers.each do |answer| %>
        <tr>
          <td><%= answer.body %></td>
          <td><%= answer.user.name %></td>
          <td>
            <% if current_user && (current_user.id == answer.user.id || current_user.admin) %>
              <%= link_to 'Edit', edit_question_answer_path(@question, answer) %>
            <% end %>
          </td>
          <td>
            <% if current_user && (current_user.id == answer.user.id || current_user.admin) %>
              <%= link_to 'Destroy', question_answer_path(@question, answer), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="lead">
    There are no answers yet
    <% if current_user && (current_user.id == @question.user_id || current_user.admin) %>
      , <%= link_to "please add one", new_question_answer_path(@question) %>
      <% else %>
       - Log in to add an answer
      <% end %>
  </p>
<% end %>


<% if current_user && (current_user == @user || current_user.admin) %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', questions_path %>
