<h3>
  <strong>Title:</strong>
  <%= @question.title %>
</h3>

<p>
  <strong>Question:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Asker:</strong>
  <%= @user.name %>
</p>
<% if current_user && (current_user == @user || current_user.admin) %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', questions_path %>
