
<%= bootstrap_form_for(@user) do |f| %>
  <%= render "layouts/errors", object: @user %>

    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <% if current_user == nil || current_user == @user %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
    <% end %>
    <% if current_user && current_user.admin %>
      <%= f.check_box :admin %>
    <% end %>
  <div class="actions">
    <%= f.submit class: "btn btn-block btn-default" %>
  </div>
<% end %>
