<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default navbar-fixed-top navbar-success' role='navigation'>
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Home", questions_path, class: "navbar-brand" %>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <% if current_user %>
        <p class="navbar-text">Signed in as <%= link_to current_user.name, user_path(current_user) %></p>
        <li><%= link_to "Sign Out", log_out_path %></li>
      <% else %>
        <li><%= link_to "Sign In", log_in_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <% if flash[:notice] %>
    <div class="flash alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= yield %>
  </div>

</div>

</body>
</html>
